<div class="container">
  <div class="row">
    

    <audio controls>
      <source src="https://s3.amazonaws.com/jazz_prod/erela/music/songs/<%=@song[:music]%>" type="audio/mpeg" />
      <a href="https://s3.amazonaws.com/jazz_prod/erela/music/songs/<%=@song[:music]%>"><%= t("songs.#{@song[:url]}")%></a>
    </audio>
  </div>
  <div class="row lyrics">
    <h3><%= t("songs.#{@song[:url]}")%></h3>
    <small>מילים ולחן: אראלה קדם</small>
    <%= render :partial => @song[:url]%>
  </div>
</div>